<!DOCTYPE html>
<html>
    <title>Only Potatoes</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 60%;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
	background-color: #fff;
	border: 1px solid #999;
	left: 25%;
	padding: 5px;
	position: absolute;
	top: 10px;
	z-index: 5;
      }

    </style>
		<title>OnlyPotatoes</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid">
			  <a class="navbar-brand" href="{{ url_for('home') }}">Only Potatoes</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('heatmap') }}">HeatMap</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('dist') }}">Distance In Potatoes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('price') }}">Price In Potatoes</a>
			</li>
			<!--
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			    Dropdown
			  </a>
			  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			    <li><a class="dropdown-item" href="#">Action</a></li>
			    <li><a class="dropdown-item" href="#">Another action</a></li>
			    <li><hr class="dropdown-divider"></li>
			    <li><a class="dropdown-item" href="#">Something else here</a></li>
			  </ul>
			</li>
			-->
		      </ul>
		      <form class="d-flex">
			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		      </form>
		    </div>
		  </div>
		</nav>
{% block content %}

    <img style = "margin-left: 5%; margin-top: 2%;" src = "static/OPOT.png">
    <script>
      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">
      let map, heatmap;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 2.75,
	  center:{lat:40.5937, lng:-70.9629},
          mapTypeId: "satellite",
        });
        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(), 
          map: map,
        });
      }

      function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
      }

      function changeGradient() {
        const gradient = [
          "rgba(0, 255, 255, 0)",
          "rgba(0, 255, 255, 1)",
          "rgba(0, 191, 255, 1)",
          "rgba(0, 127, 255, 1)",
          "rgba(0, 63, 255, 1)",
          "rgba(0, 0, 255, 1)",
          "rgba(0, 0, 223, 1)",
          "rgba(0, 0, 191, 1)",
          "rgba(0, 0, 159, 1)",
          "rgba(0, 0, 127, 1)",
          "rgba(63, 0, 91, 1)",
          "rgba(127, 0, 63, 1)",
          "rgba(191, 0, 31, 1)",
          "rgba(255, 0, 0, 1)",
        ];
        heatmap.set("gradient", heatmap.get("gradient") ? null : gradient);
      }

      function changeRadius() {
        heatmap.set("radius", heatmap.get("radius") ? null : 20);
      }

      function changeOpacity() {
        heatmap.set("opacity", heatmap.get("opacity") ? null : 0.2);
      }

      // Heatmap data: 500 Points
      function getPoints() {
      	var datapoints = [];
	var data_arr = "{{ data }}";
		
	var toparse = data_arr.split(",");

	var datapoints = [];
		
      	for (let i = 0; i < toparse.length; i++){
	   var curr_toparse = toparse[i].split("$");
	   var latitude = curr_toparse[1];
	   var longitude = curr_toparse[2];

	   console.log(latitude);
	   console.log(longitude);
	   if ((isNaN(latitude) == true) || (isNaN(longitude) == true)){		
	   	break; 
	   }
	   if (curr_toparse[0] == "potato"){
		datapoints.push(new google.maps.LatLng(parseFloat(latitude), parseFloat(longitude)));}
      	}
	
	return datapoints; 
      }
    </script>
  </head>
  <body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOOMWd4vcFKm0xNokxlTUe9oexuWt48uI&callback=initMap&libraries=visualization&v=weekly"
      async
    ></script>

{% endblock %}
</html>
